hr {
    height: 3px;
    background:black;
}

.maintext {
    font-family: 'Nunito', sans-serif;
    padding: 10px 350px 15px 10px;
    text-align: justify;
}

.f {
    color: blue;
    font-style: italic;
    font-weight: bold;
}

sub {
    color: blue;
    font-style: italic;
    font-weight: bold;
}

.greentext {
    color: green;
    font-weight: bold;
}

.italicstext {
    font-style: italic;
    font-weight: bold;
}

.icon {
    float: left;
    margin: 20px;
}

.icon2 {
    float: right;
    margin: 10px;
}

/*********** cards ex. **************/
.cards {
    margin: 50px 200px;
    padding: 70px;
    font-family: 'Lora', serif;
    font-size: 25px;
    color: white;
    text-align: center;
    background-color: #0d5825;
}

q {
    font-weight: bold;
}

.images {
    padding: 90px;
    position: relative;
}

.card1 {
    width: 150px;
    display: inline-block;
    transform: translateX(100px) rotate(-30deg);
    transition-property: transform;
    transition-duration: 300ms;
}

.card2 {
    width: 150px;
    display: inline-block;
    transform: translateX(0px) rotate(-10deg);
    transition-property: transform;
    transition-duration: 300ms;
}

.card3 {
    width: 150px;
    display: inline-block;
    transform: translate(-110px, 5px) rotate(10deg);
    transition-property: transform;
    transition-duration: 300ms;
}

.card1:hover {
    transform: translate(100px, -20px) rotate(-30deg);
}

.card2:hover {
    transform: translateY(-20px) rotate(-10deg);
}

.card3:hover {
    transform: translate(-100px, -20px) rotate(10deg);
}

/*************** superheroes ***************/
.heroes {
    background-color: rgb(212, 131, 236);
    position: relative;
    width: 600px;
    height: 450px;
    margin: 5% 30% 5% 30%;
    
}

.block1,
.block2,
.block3,
.block4 {
    display: inline-block;
    position: absolute;
    transition-property: background-color, background-image, width, height;
    transition-duration: 200ms;
    width: 150px;
    height: 150px;
    text-align: center;
    margin-bottom: 100px;

}

.block1 {
    background-image: url("spiderman.jpg");
    background-repeat: no-repeat;
    background-size: 150px;
    margin-top: 6%;
    margin-left: 15%;
    z-index: 1;
}

.block2 {
    background-image: url("loki.jpg");
    background-size: 150px;
    background-repeat: no-repeat;
    margin-top: 16%;
    margin-left: 30%;
    z-index: 2;
}

.block3 {
    background-image: url("ironman.jpg");
    background-repeat: no-repeat;
    background-size: 150px;
    margin-top: 26%;
    margin-left: 45%;
    z-index: 3;
}

.block4 {
    background-image: url("thor.png");
    background-repeat: no-repeat;
    background-size: 150px;
    margin-top: 36%;
    margin-left: 60%;
    z-index: 4;
}

.block1 .text2 {
    display: none;
}

.block2 .text2 {
    display: none;
}

.block3 .text2 {
    display: none;
}

.block4 .text2 {
    display: none;
}

.block1:hover {
    box-shadow: 0 0 10px black;
    z-index: 5;
    width: 200px;
    height: 200px;
    background-image: none;
    background-color: white;
    border: solid 1px;
}

.block2:hover {
    box-shadow: 0 0 10px black;
    width: 200px;
    height: 200px;
    z-index: 5;
    background-image: none;
    background-color: black;
    color: white;
    border: solid 1px;
}

.block3:hover {
    box-shadow: 0 0 10px black;
    width: 200px;
    height: 200px;
    z-index: 5;
    background-image: none;
    background-color: white;
    border: solid 1px;
}

.block4:hover {
    box-shadow: 0 0 10px black;
    width: 200px;
    height: 200px;
    z-index: 10;
    background-image: none;
    background-color: black;
    color: white;
    border: solid 1px;
}

.block1:hover .text2 {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
}

.block2:hover .text2 {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
}

.block3:hover .text2 {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
}

.block4:hover .text2 {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
}

/*************** profile card **************/

.form {
    margin-top: 100px;
    margin-bottom: 100px;
    border: 2px solid;
    width: 550px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom left, #b30909, #13cde3);
}

.profileimg {
    float: left;
    width: 150px;
    height: 150px;
    padding: 20px;
}

.text {
    margin: 10px;
}
